body {
  background:url(background.gif) no-repeat center fixed;
  background-size: cover;
}

h1 {
  font-family:Arizonia;
  color:#ff1493;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
  text-align: center;
}

h2 {
  font-family:Arizonia;
  color:#ff1493;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.2);
}

img {
  margin-right: 30px;
  float: left;
  width: 200px;
  border: 3px solid#ff1493;
  border-radius:100%;
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.3);;
}

.card {
  width: cover;
  min-width: 250px;
  margin-left:auto;
  margin-right:auto;
  padding: 10px 25px 20px 25px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
  background:white;
  border-radius:10px;
  font-family:Oxygen-Sans;
  max-width:650px;
  text-align:justify;
  overflow: auto;
}

.bloc {
  display: block;
  margin-right: 13%;
  margin-left: 13%;
}

.coord-title {
  font-weight: bold;
}

.coord {
  margin-top:30px;
  margin-bottom: 65px;
  float: left;
}

.title_data {
  color:#666666;
}

.date {
  font-style: italic;
  text-decoration: underline;
}

.sstitre {
  padding-left: 20px;
}

.formation-experience {
  clear: both;
  margin-bottom: 30px;
}

.autre-blabla{
  margin-right: 10%;
  float:left;
}
